{% extends "base.html" %}
{% block content %}
  <h1>Applications</h1>
  <ul>
    {% for application in applications %}
      <li>User {{ application['applicant_name'] }} applied to post {{ application['title'] }}</li>
      <a href="/" >View applicant details</a>
      <a href="/contact-applicant/{{ application.applicant_name }}/{{ application.post_id }}">Contact applicant</a>
      <a href="/refuse-applicant/{{ application.applicant_name }}/{{ application.post_id }}">Refuse applicant</a>
    {% endfor %}
  </ul>
{% endblock %}
