<!-- Home page for when the job seeker logs in -->

{% extends "base.html" %}
{% block title %}Job Seeker Home{% endblock %}  <!-- override the template to name the page-->

{% block content %}

<h1>{% print("Welcome, " + user.first_name + " " + user.last_name + "!" )%}</h1>
</br>
<h2>Your Information</h2>
<a id = "editinfo" href="/editinfo/{{user.id}}">Edit information</a>
{% print("Phone number: " + user.phone_number) %} </br>
{% print("Email address: " + user.email) %}</br>
<a id = "editinfo" href="/editinfo/{{user.id}}"><button type="button" class="btn btn-outline-primary" style="margin-top: 3%;">Edit information</button></a>
{% endblock %}