{% extends "base.html" %} {% block title %}Jobs{% endblock %} 
{% block content%}

      <div class="group">
        <div class="item" style="background-image: url(https://images.pexels.com/photos/6953935/pexels-photo-6953935.jpeg)"><a class="selectionText" href='/auth/sign-up'><h3>Seeker</h3></a></div>
        <div class="item" style="background-image: url(https://images.pexels.com/photos/4344860/pexels-photo-4344860.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)"><a  class="selectionText"  href='/auth/signup_employer'><h3>Employer</h3></a></div>
        <div class="item" style="background-image: url(https://images.pexels.com/photos/7014337/pexels-photo-7014337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)"><a  class="selectionText" href='/auth/signup_admin'><h3>Admin</h3></a></div>
      </div>

      


    {% endblock %}