*{
  margin: 0;
  text-decoration: none;
  padding: 0;
  list-style: none;
}

a:hover i {
  transform: scale(1.2);
  color: blue;  
}

.link {
  padding-top: 20%;
  height: 70px;
  width: 70px;
  background-color: #caf7e3;
  border-radius: 35px;
  text-align: center;
  margin: 7px;
  line-height: 80px;
}

.gg-bell{
  color: black;
}

i{
  position: absolute; top: 17px;
  cursor: pointer;
}
/*h3{
	color: #bc6c25;
}
*/

/* Style the dropdown */
input[list]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Style the suggestions */
datalist {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
}

input:focus + datalist {
  display: block;
}


.group {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.item {
  width: 15vw;
  height: 75vh;
  background-position: center;
  background-size: 75vh;
  margin: 1vw;
  border-radius: 3vw;
  display: inline-block;
  cursor: pointer;
}


:root {
	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}