*{
  margin: 0;
  text-decoration: none;
  padding: 0;
  list-style: none;
}

a:hover i {
  transform: scale(1.2);
  color: blue;  
}

.link {
  height: 70px;
  width: 70px;
  background-color: #caf7e3;
  border-radius: 35px;
  text-align: center;
  margin: 7px;
  line-height: 80px;
}

.gg-bell{
  color: black;
}

i{
  position: absolute; top: 17px;
  cursor: pointer;
}
/*h3{
	color: #bc6c25;
}
*/

/* Style the dropdown */
input[list]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Style the suggestions */
datalist {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
}

input:focus + datalist {
  display: block;
}


.group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.item {
  width: 15vw;
  height: 75vh;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.item h3 {
  margin: 0;
}

.item:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1544654262-e295983be0f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cG9ydHJhaXR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
}

:root {
	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}