{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}  <!-- override the template to name the page-->

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>About Us</h1>
    </header>
    <section>
      <p> GOODJOB is a saffing firm specializing in contract positions at Microsoft 
        Corporation and other leading high-tech companies located in Canada. As one of the 
        select Talent Source staffing program vendors at Microsoft Corporation, we get priority access to the 
        following position categories:</p>
      <ul>
        <li>Program Management (technical and non-technical)</li>
        <li>Project Management (technical and non-technical)</li>
        <li>Marketing professionals of all levels</li>
        <li>Content Writers/Editors/Producers and Coordinators</li>
        <li>UX Designers, Visual Designers, Information Architects</li>
        <li>3D Artists, Art Directors and Motion Graphic Designer.</li>
      </ul>
      
      <p>Contact us at <a href="mailto:GOODJOB info@email.com">GOODJOB info@email.com</a> for more information.</p>
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
{% endblock %}