{% extends "base.html" %}
{% block title %}Home{% endblock %}  <!-- override the template to name the page-->

{% block content %}
<!-- Herro section  -->
<section class="section pb-0 first-section "  >
    <div class="container " >
        <div class="row justify-content-between align-items-center">
            
            <div class="col-lg-6 col-md-4 .col-sm-12 text-center text-lg-left">
                <h1 class="mb-4">We bring matches . You bring the spark </h1>
                <span class="mb-4">  Matching the right Gigee for the job, with jobs where and when Gigees want..</span>
               
                <div class="wrap">
                    <button class="learnmore">Learn more</button>
                  </div>
            </div>

            <div class= "col-lg-6 col-md-4 .col-sm-12 text-center text-lg-right" >
                <img src="{{ url_for('static', filename='images/developer.png') }}" alt="My Image" width="98%">
            </div>
    
        </div>
    </div>
    <div class="divider" ></div>
</section>



<!-- process section  -->
<section class="section process">
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-5">
      <div class="process-block pl-4">
        <span class="text-uppercase text-sm letter-spacing">Why choose us</span>
        <h2 class="mb-4 mt-3">Strike a match.</h2>
        <p class="mb-4">GOODJOB makes it easy for both Gigees and Hirers to find exactly what they’re looking for. People are matched to Gigs through the digital magic of our matchmaking engine. .</p>
      </div>
    </div>

    <div class="col-lg-7 col-xs-12 col-md-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="icon-block text-center mb-4 mb-lg-0">
            <i class="fa-solid fa-user  "></i>
            <h5>Create your custom profile. </h5>
            
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="icon-block text-center mt-4 mb-4 mb-lg-0">
            <i class="fa-solid fa-heart-circle-bolt"></i>
            <h5>Gigees+ Hirers are matched together.</h5>
            
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="icon-block text-center">
            <i class="fa-solid fa-infinity"></i>
            <h5>Work happy, live happy.</h5>
          </div>
        </div>


      </div>
    </div>	
  </div>
</div>
</section>



<!-- second  section  -->
<!-- topics -->
<section class="section pb-0 topic second-section">
<div class="container"></div>
  <div class="row ">
    
  <!-- topic -->
    <div class="col-lg-6 col-md-6 col-sm-6 ">
        
                <div class="card-body carte-corps two">
                    <span class="text-uppercase text-sm letter-spacing" style="font-size: 15px;">Got talent ? </span>
                    <h3 class="card-title mb-4">Why job seekers love us</h3>
                    <h6 class="mb-4">Give a shift.</h6>
                    <div class="icon-list">
                    <div class="icon"> <i class="fa-solid fa-arrow-right"></i></div>
                    <p class="card-text mb-4">Unique jobs at startups and tech companies you can't find anywhere else </p></div>
                    <p class="card-text mb-4"> Say goodbye to cover letters - your profile is all you need. One click to apply and you're done</p>
                    <p class="card-text mb-4">Everything you need to know to job search - including seeing salary and stock options upfront when looking.</p>
                    <p class="card-text mb-4">Connect directly with founders at top startups - no third party recruiters allowed</p>
                    <a href="/auth/sign-up" class="stretched-link"></a>
                    <button type="button" class="btn btn-dark">Find your next hire</button>
                    
                </div>
        
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        
                <div class="card-body carte-corps two">
                    <span class="text-uppercase text-sm letter-spacing" style="font-size: 15px;">Need Talent ?</span>
                    <h3 class="card-title carte-titre mb-4">Why recruiters love us</h3>
                    <h6 class="mb-4">Give a shift.</h6>
                    <div class="icon-list">
                        <div class="icon"> <i class="fa-solid fa-arrow-right"></i></div>
                        <p class="card-text carte-texte mb-4">8 million responsive and startup-ready candidates, with all the information you need to vet them </p></div>
                        <p class="card-text carte-texte mb-4"> Everything you need to kickstart your recruiting - get job posts, company branding, and HR tools set up within 10 minutes, for free</p>
                        <p class="card-text carte-texte mb-4">Everything you need to kickstart your recruiting - get job posts, company branding, and HR tools set up within 10 minutes, for free.</p>
                        <p class="card-text carte-texte mb-4">Create your free account and start hiring people </p>
                         <a href="/jobposting" class="stretched-link"></a>
                         <button type="button" class="btn btn-dark">Find your next job</button>
                </div>
        </div>
    
</div> 
</section>



<!-- Testimonials section -->
<section class="" style="background-color: #EEF4F7; color: black;">
    
  <div class="container testimonials py-5">
      
      <div class="row  justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h3 class="fw-bold mb-4">From our users </h3>
          <p class="mb-4 pb-2 mb-md-5 pb-md-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
            numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
            quisquam eum porro a pariatur veniam.
          </p>
        </div>
      </div>
  
      <div class="row text-center">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card carte">
            
              <div class="d-flex justify-content-center mb-4">
                <img src="static/images/testimonials-1.jpg"
                  class="rounded-circle shadow-1-strong" width="100" height="100" alt="image of testimonials-1" />
              </div>
              <h5 class="font-weight-bold">Teresa May</h5>
              <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i>“We used GOODJOB to find a developer for 4 hours a day, 3 days a week for 6 weeks.
                 We found a match within a few hours, the candidate was a great match, and we converted to a full time position.”

                Henry, Shipping company.
              </p>
            
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card carte">
            
              <div class="d-flex justify-content-center mb-4">
                <img src="static/images/testimonials-2.jpg"
                  class="rounded-circle shadow-1-strong" width="100" height="100" alt="image of testimonials-2"/>
              </div>
              <h5 class="font-weight-bold">Maggie McLoan</h5>
              <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i>“Found an accounting assistant who was qualified, available for a short period, and flexible with 
                very little time to hire. The person was already screened and background checked so on-boarding was quick and easy.”

                Bharat, Trading company
              </p>
            
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div class="card carte">
            
              <div class="d-flex justify-content-center mb-4">
                <img src="static/images/testimonials-3.jpg"
                  class="rounded-circle shadow-1-strong" width="100" height="100" alt="image of testimonials-3"/>
              </div>
              <h5 class="font-weight-bold">Alexa Horwitz</h5>
              <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="fas fa-star fa-sm text-info"></i>
                </li>
                <li>
                  <i class="far fa-star fa-sm text-info"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i>After speaking with my goodjob coordinator Fatou, 
                she helped me integrate with my new gig. She was extremely helpful in figuring out the app and was
                 very attentive to my questions. She’s professional patient and timely.

                Kiana10453, Gigee
              </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}