<!-- Home page for when the employer logs in -->

{% extends "base.html" %}
{% block title %}Employer Home{% endblock %}  <!-- override the template to name the page-->

{% block content %}

<h1>{% print("Welcome, " + user.company_name + "!" )%}</h1>
</br>
<a id="create_post" href="/create_post" >Create a job posting.</a>
<a id="my_posts" href="/myposts"> My Job Postings</a>
<h2>Your Information</h2>
{% print("Phone number: " + user.phone_number) %} </br>
{% print("Email address: " + user.email) %}
{% endblock %}


